@using RSS_Chanel.Utilities
@model IEnumerable<RSS_Chanel.Models.RssFeed>
<!DOCTYPE html>
<html>
<head>
    <title>НИР</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Найдем новости на любой вкус</h2>
    <table>
        <tr>
            <td width = "25%">
                @await Html.PartialAsync("Topics",new List<string>(){
                    "https://1prime.ru/export/rss2/state_regulation/index.xml",
                    "Экономика"
                }
                )
            </td>
            <td width = "25%">
                @await Html.PartialAsync("Topics",new List<string>(){
                    "https://www.sports.ru/rss/rubric.xml?s=208",
                    "Спорт"
                }
                )
            </td>
            <td width = "25%">
                @await Html.PartialAsync("Topics",new List<string>(){
                    "https://artinvestment.ru/rss.php",
                    "Культура"
                }
                )
            </td>
            <td width = "25%">
                @await Html.PartialAsync("Topics",new List<string>(){
                    "https://edu.ru/news/it-v-obrazovanii/feed.rss",
                    "Образование"
                }
                )
            </td>
        </tr>
        <tr>
            <td>
                <form method = 'POST' controller = 'Main'>
                <input type="Text" name = "tag" />
                <input type="submit" value = "Поиск" />
                </form>
            </td>
        </tr>
        @if(Model == null)
        {
            <tr>
                <td>
                    <h1>Соответствий нет</h1>
                </td>
            </tr>
        }
        else
        @foreach (var feed in Model)
        {
            <tr>
                <td>
                    <br>
                    <h1>@feed.Description</h1>
                </td>
            </tr>
            @foreach (var item in feed.Articles)
            {
                <tr>
                    <td>
                        <a href = @item.Link>@item.Title</a>
                    </td>
                </tr>
            }
        }
    </table>

</body>
</html>